<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="lw">
      <div class="inner-wrapper">
        <!-- Back to Home button -->
        <div class="top">
          <a href="#">
            <a href="/" class="back-btn">
              <i class="fa-solid fa-arrow-left"></i> Back to Home
            </a>
          </a>
        </div>

        <!-- Login Form Section -->
        <div class="form">
          <h1>Login</h1>
          <form action="login" method="POST" id="login-f">
            <label for="email">Email</label>
            <input class="lp-inp" type="email" id="email" name="email" required />

            <label for="password">Password</label>
            <input class="lp-inp" type="password" id="password" name="password" required />

            <input type="submit" class="login-btn" value="Login" />
          </form>

          <!-- Password Reset Section -->
          <div class="pwd-reset">
            <a href="#" class="forgot-pwd">
              <i class="fa-solid fa-unlock-keyhole"></i> Forgot Password?
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
