:root {
  --primary-color: #1b3a57;
  --secondary-color: #2ecc71;
  --tertiary-color: #75a3c5;
  --quaternary-color: #e74c3c;
  --quinary-color: #f0f3f4;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

.h-custom-screen {
  height: calc(100vh - 73px);
}

.primaryBtn {
  background-color: var(--primary-color) !important;
  color: var(--quinary-color) !important;
}

.secondaryBtn {
  background-color: var(--secondary-color) !important;
  color: var(--quinary-color) !important;
}

.tertiaryBtn {
  background-color: var(--tertiary-color) !important;
  color: var(--quinary-color) !important;
}

.quaternaryBtn {
  background-color: var(--quaternary-color) !important;
  color: var(--quinary-color) !important;
}

.quinaryBtn {
  background-color: var(--quinary-color) !important;
  color: var(--primary-color) !important;
}

.userProfile.dropdown-toggle::after {
  display: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--quaternary-color) !important;
  color: var(--quinary-color) !important;
}

.dropdown-item:hover {
  background-color: var(--quaternary-color) !important;
  color: var(--quinary-color) !important;
}

.form-control:focus {
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.directoryCard:hover {
  background-color: #fafafa;
}

.contextMenuItem:hover .contextMenuIcon {
  fill: #f0f3f4;
}

.dropdown-item {
  display: flex !important;
}

.userMgmtTbl thead{
  background-color: var(--quaternary-color) !important;
  position: sticky;
  top: 0;
}
